<h2>Add a New Volunteer</h2>
<form class="" action="/volunteer" method="post">
  <label for="name">Volunteer Name</label>
  <input type="text" name="name" class="form-control">
  <button type="submit" name="button">Add Volunteer</button>
</form>
<a href="/">Return home</a>
