<h2>Add a New Project</h2>
<form class="" action="/projects" method="post">
  <label for="title">Project Title</label>
  <input type="text" name="title" class="form-control">
  <button type="submit" name="button">Add Project</button>
</form>
<a href="/">Return home</a>
